@font-face {
    font-family: 'SourceSansPro';
    src: url(/fonts/SourceSans-Variable.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

p {
    font: normal 1rem/2rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem 0rem;
}

p a {
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.2em 0rem;
    margin: 2rem 0rem 1rem;
    border-bottom: 2pt solid var(--gray1);
    overflow: wrap;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}
figure {
    display: block;
    max-width: 100%;
    padding: 0rem;
    margin: 1rem auto;
}

figcaption {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    text-align: center;
    padding: 0.8rem;
    margin: 0rem;
}

/* Images */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
}
