/* Lists */

ul, ol {
    font: 1rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding: 0rem;
    margin: 0rem 0rem 0rem 0.5rem;
    list-style-position: inside;
}

/* Same size for links in paras and lists */

ul a, ol a {
    font-size: 0.9rem;
}

/* Subscript, Superscript */

sub, sup {
    position: relative;
    font-size: 0.8rem;
}

sup {
    vertical-align: top;
    top: -0.3rem;
}

sub {
    vertical-align: bottom;
    bottom: -0.3rem;
}

/* Citation */

sup a {
    font-size: 0.7rem;
}

sup a::before {
    content: "[";
}

sup a::after {
    content: "]";
}

del {
    text-decoration: line-through;
}

/* Code */

code {
    display: inline;
    color: var(--gray4);
    background-color: var(--gray1);
    font: normal 0.9rem JetBrainsMono, monospace;
}

pre code {
    background: none;
}

pre {
    display: block;
    background-color: var(--gray1);
    max-height: 22rem;
    padding: 1rem 1rem 1.5rem;
    margin: 1rem;
    overflow: auto;
    white-space: pre;
}

/* Quotes */

blockquote {
    color: var(--gray4);
    display: block;
    padding: 0.1rem 1rem;
    margin: 0rem 1rem;
    border-left: 5pt solid var(--gray2);
}

/* Figures, containers for images and tables */

figure {
    display: block;
    max-width: 100%;
    padding: 0rem 1rem;
    margin: 2rem auto;
}

figcaption {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    text-align: center;
    padding: 0.8rem;
    margin: 0rem;
}

/* Images */

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
}

/* Tables */

table {
    display: table;
    color: var(--gray4);
    background-color: var(--gray2);
    max-width: 100%;
    padding: 0rem;
    margin: 0rem auto;
    border: none;
    border-collapse: collapse;
}

tr, td, th {
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    margin: 0rem;
    border: 1pt solid var(--bg);
}

th {
    color: var(--fg);
    background-color: var(--dark);
    font-weight: bold;
}

/* Collapsible notes */

details {
    color: var(--gray4);
    font-size: 0.8rem;
    font-style: italic;
    padding: 0rem;
    margin: 0rem 0rem 2rem;
}

details summary {
    font-style: normal;
}

/* End of page nav */

@media (max-width: 35rem) {
    nav section {
        flex-direction: column;
    }

    nav section article {
        margin: 0rem;
    }
}

nav {
    color: var(--gray4);
    font-size: 0.8rem;
    padding: 0rem;
    margin: 3rem 0rem 2rem;
}

nav section, nav div {
    display: flex;
    margin: 0rem 0rem 1rem;
}

nav article {
    display: block;
    flex: 1;
    margin: 0rem 0.5rem;
}

nav div article {
    margin: auto 0rem;
}

nav time {
    display: block;
    color: var(--gray4);
}

nav strong {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav p {
    color: var(--fg);
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1rem 0rem 2.5rem;
}

/* Footnotes */

hr {
    border: none;
    margin: 0rem;
}

.footnotes {
    display: block;
    color: var(--gray4);
    padding: 1rem 0rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray2);
}

.footnotes p, .footnotes ol {
    display: inline;
    font: normal 0.8rem JetBrainsMono;
    text-align: left;
    padding: 0rem;
    margin: 0rem;
}

.footnotes a {
    font-size: 0.8rem;
}

.footnote-backref {
    padding: 0rem 0.3rem;
}
