@media (prefers-color-scheme: dark) {
    .invert {
        filter: invert(1);
    }
}

/* Lists */

ul, ol {
    font: 1rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem;
    list-style-position: outside;
}

/* Same size for links in paras and lists */

ul a, ol a {
    font-size: 0.9rem;
}

/* Subscript, Superscript */

sub, sup {
    position: relative;
    font-size: 0.8rem;
}

sup {
    vertical-align: top;
    top: -0.3rem;
}

sub {
    vertical-align: bottom;
    bottom: -0.3rem;
}

/* Citation */

sup a {
    font-size: 0.7rem;
}

sup a::before {
    content: "[";
}

sup a::after {
    content: "]";
}

del {
    text-decoration: line-through;
}

/* Code */

code {
    display: inline;
    color: var(--gray4);
    background-color: var(--gray1);
    font: normal 0.9rem JetBrainsMono, monospace;
}

pre code {
    background: none;
}

pre {
    display: block;
    background-color: var(--gray1);
    max-height: 22rem;
    padding: 1rem 1rem 1.5rem;
    margin: 1rem 0rem;
    overflow: auto;
    white-space: pre;
}

/* Quotes */

blockquote {
    display: block;
    color: var(--gray4);
    padding: 0.1rem 1rem;
    margin: 1rem;
    border-left: 5pt solid var(--gray1);
}

/* Tables */

table {
    display: table;
    color: var(--gray4);
    background-color: var(--gray1);
    max-width: 100%;
    padding: 0rem;
    margin: 0rem auto;
    border: none;
    border-collapse: collapse;
}

tr, td, th {
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    margin: 0rem;
    border: 1pt solid var(--bg);
}

th {
    color: var(--fg);
    background-color: var(--dark);
    font-weight: bold;
}

/* Collapsible notes */

details {
    color: var(--gray4);
    font-size: 0.8rem;
    font-style: italic;
    padding: 0rem;
    margin: 1rem 0rem;
}

details summary {
    font-style: normal;
}

/* Footnotes */

hr {
    border: none;
    margin: 0rem;
}

.footnotes {
    display: block;
    color: var(--gray4);
    padding: 1rem 0rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray1);
}

.footnotes p, .footnotes ol {
    font: normal 0.8rem JetBrainsMono;
    text-align: left;
}

.footnotes ol {
    padding: 0rem 0rem 0rem 2rem;
    margin: 0rem;
}

.footnotes p {
    padding: 0rem;
    margin: 0rem;
}

.footnotes a {
    font-size: 0.8rem;
}

.footnote-backref {
    padding: 0rem 0.3rem;
}
