/* Footnotes */

hr {
    border: none;
    margin: 0rem;
}

.footnotes {
    display: block;
    color: var(--gray4);
    padding: 1rem 0rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray1);
}

.footnotes p, .footnotes ol {
    font: normal 0.8rem JetBrainsMono;
    text-align: left;
}

.footnotes ol {
    padding: 0rem 0rem 0rem 2rem;
    margin: 0rem;
}

.footnotes p {
    padding: 0rem;
    margin: 0rem;
}

.footnotes a {
    font-size: 0.8rem;
}

.footnote-backref {
    padding: 0rem 0.3rem;
}
