h1, h2, nav {
    display: block;
    text-align: center;
    margin: 0rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    margin: 0rem 0rem 1rem;
}

h2, nav {
    font-size: 0.9rem;
    font-weight: normal;
}

main svg {
    display: block;
    fill: var(--fg);
    width: 10rem;
    height: 12rem;
    margin: 8rem auto 1rem;
}

#eyes {
    animation: blink-anim 5s step-start 0s infinite;
}

@keyframes blink-anim {
    98% {
        visibility: hidden;
    }
}
