:root {
    --fg: #000;
    --bg: #fff;
    --gray1: #ddd;
    --gray4: #555;
    --light: #fff;
    --dark: #bbb;
    --accent: #58858d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #fff;
        --bg: #000;
        --gray1: #333;
        --gray4: #bbb;
        --light: #fff;
        --dark: #222;
        --accent: #58858d;
    }
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url(/fonts/JetBrainsMono-Variable.woff2) format(woff2);
    font-style: normal;
    font-display: block;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font: normal 0.9rem JetBrainsMono, monospace;
    max-width: 50rem;
    padding: 1rem;
    margin: 0rem auto;
}

a {
    color: var(--fg);
    font-family: JetBrainsMono, monospace;
    text-decoration: underline;
    font-style: inherit;
}

a:hover, a:focus {
    color: var(--accent);
}

a[target="_blank"]::after {
    content: "\a0\2197";
}

::selection {
    color: var(--light);
    background-color: var(--accent);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    overflow-x: hidden;
}

nav {
    display: block;
    text-align: center;
    margin: 1.5rem 0rem 0rem;
    user-select: none;
}

svg {
    display: block;
    fill: var(--fg);
    margin: 0rem;
}

a svg:hover {
    fill: var(--accent);
}
