@font-face {
    font-family: 'LatinModernMath';
    src: url(/fonts/latinmodern-math.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

math[display="inline"] {
    display: inline math;
    math-style: compact;
    font: 1.2rem LatinModernMath, math, serif;
    padding: 0rem;
    margin: 0rem;
}

math[display="block"] {
    display: block math;
    math-style: normal;
    font: 1.5rem LatinModernMath, math, serif;
    max-width: 95%;
    height: auto;
    padding: 0.5rem;
    margin: 0rem;
    overflow: auto;
}

.katex {
    overflow: auto hidden;
}

