.categories {
    color: var(--gray4);
    font-size: 0.8rem;
    padding: 0rem;
    margin: 3rem 0rem 1rem;
}

.related h3 {
    color: var(--gray4);
}

.relatedarticles, .nextprev {
    display: flex;
    margin: 1rem 0rem;
}

.relatedarticles div, .nextprev div {
    display: block;
    flex: 1 1 0;
}

.relatedarticles div {
    margin: 0rem 0.5rem;
}

.nextprev div {
    font-size: 0.8rem;
    padding: 0rem;
    margin: auto 0rem;
}

.related time {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    margin: 0rem;
}

.related strong {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0rem;
}

.related p {
    color: var(--fg);
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1rem 0rem 2rem;
}

@media (max-width: 40rem) {
    nav section {
        flex-direction: column;
    }

    nav section article {
        margin: 0rem;
    }
}
