:root {
    --fg: #000;
    --bg: #fff;
    --gray1: #ddd;
    --gray2: #ccc;
    --gray3: #aaa;
    --gray4: #555;
    --dark: #aaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #fff;
        --bg: #000;
        --gray1: #222;
        --gray2: #333;
        --gray3: #444;
        --gray4: #bbb;
        --dark: #222;
    }
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(/fonts/JetBrainsMono-Regular.woff2) format(woff2);
    font-style: normal;
    font-display: block;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font: normal 0.9rem JetBrainsMono, monospace;
    max-width: 50rem;
    padding: 1rem;
    margin: 0rem auto;
}

a {
    color: var(--fg);
    font-family: JetBrainsMono, monospace;
    text-decoration: underline;
    font-style: inherit;
}

a:hover {
    color: var(--bg);
    background-color: var(--fg);
    text-decoration: none;
}

::selection {
    color: var(--fg);
    background: var(--gray2);
}
