:root {
    --fg: #000;
    --bg: #fff;
    --gray1: #ddd;
    --gray4: #444;
    --dark: #bbb;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #fff;
        --bg: #000;
        --gray1: #333;
        --gray4: #bbb;
        --dark: #222;
    }
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url(/fonts/JetBrainsMono-Variable.woff2) format(woff2);
    font-style: normal;
    font-display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font: normal 0.9rem JetBrainsMono, monospace;
    max-width: 50rem;
    padding: 1rem;
    margin: 0rem auto;
}

a {
    color: var(--fg);
    font-family: JetBrainsMono, monospace;
    text-decoration: underline;
    font-style: inherit;
}

a:hover, a:focus {
    color: var(--bg);
    background-color: var(--fg);
    text-decoration: none;
}

a[target="_blank"]::after {
    content: "\a0\2197";
}

::selection {
    color: var(--bg);
    background: var(--fg);
}
