code {
    display: inline;
    color: var(--gray4);
    background-color: var(--gray1);
    font: normal 0.9rem JetBrainsMono, monospace;
    padding: 0rem 0.3rem;
}

pre {
    display: block;
    background-color: var(--gray1);
    max-height: 22rem;
    padding: 1rem;
    margin: 1rem 0rem;
    overflow: auto;
    white-space: pre;
}

pre code {
    background: none;
    padding: 0rem;
}
