{{ partial "head" . -}}
<link rel="stylesheet" href="/css/banner.css">
<link rel="stylesheet" href="/css/main.css">
{{ if .Params.code }}
<link rel="stylesheet" href="/css/syntaxhighlight.css">
{{ end -}}
{{ if .Params.math }}
{{ partial "math.html" . }}
{{ end -}}
</head>
<body>
{{ partial "header" . -}}
<main>
<article>
{{ .Content -}}
</article>
</main>
<nav>
This article is about
{{- range (.GetTerms "categories") }}
<a href="{{ .RelPermalink }}">{{ .LinkTitle -}}</a>
{{- end -}} <br>
Browse all <a href="/categories">categories</a>
</nav>
{{ partial "footer" . -}}
