header {
    display: block;
    padding: 0rem;
    margin: 0rem 0rem 1rem;
    border-bottom: 2pt solid var(--gray4);
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem 1rem;
}

header svg {
    display: block;
    fill: var(--fg);
    height: 3rem;
    margin: 0rem;
}

header a svg:hover {
    fill: var(--accent);
}

header h1 {
    display: block;
    color: var(--fg);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
    text-transform: uppercase;
    padding: 0rem;
    margin: 0rem 0rem 0.5rem;
    border: none;
}

header h2 {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: none;
    padding: 0rem;
    margin: 0rem;
    border: none;
}

footer {
    color: var(--gray4);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0rem;
    margin: 2rem 0rem -1rem;
    border-top: 2pt solid var(--gray4);
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
