:root {
    --fg: #000;
    --bg: #fff;
    --gray1: #ddd;
    --gray4: #555;
    --light: #fff;
    --dark: #bbb;
    --accent: #58858d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: #fff;
        --bg: #000;
        --gray1: #333;
        --gray4: #bbb;
        --light: #fff;
        --dark: #222;
        --accent: #58858d;
    }
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url(/fonts/JetBrainsMono-Variable.woff2) format(woff2);
    font-style: normal;
    font-display: block;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font: normal 0.9rem JetBrainsMono, monospace;
    max-width: 50rem;
    padding: 1rem;
    margin: 0rem auto;
}

a {
    color: var(--fg);
    font-family: JetBrainsMono, monospace;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-style: inherit;
}

a:hover, a:focus {
    color: var(--accent);
}

a[target="_blank"]::after {
    content: "\a0\2197";
}

::selection {
    color: var(--light);
    background-color: var(--accent);
}
header {
    display: block;
    padding: 0rem 0rem 0.5rem;
    margin: 0rem 0rem 1rem;
    border-bottom: 2px solid var(--gray4);
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem 1rem;
}

header svg {
    display: block;
    fill: var(--fg);
    height: 3rem;
    margin: 0rem;
}

header a svg:hover {
    fill: var(--accent);
}

header h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
    text-transform: uppercase;
    padding: 0rem;
    margin: 0rem;
    border: none;
}

header h2 {
    color: var(--gray4);
    font-size: 0.8rem;
    font-weight: normal;
    text-transform: none;
    padding: 0rem;
    margin: 0rem;
    border: none;
}

header h2 a {
    color: var(--gray4);
}
footer {
    color: var(--gray4);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0rem;
    margin: 2rem 0rem -1rem;
    border-top: 2px solid var(--gray4);
}

footer a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(/fonts/SourceSans-Variable.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
}

p {
    font: normal 1rem/2rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin: 1rem 0rem;
}

p a {
    font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3rem 0rem;
    margin: 1.5rem 0rem 1rem;
    border-bottom: 2px solid var(--gray1);
    overflow: wrap;
    overflow-wrap: break-word;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

ul, ol {
    font: 1rem SourceSansPro, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem;
    list-style-position: outside;
}

ul a, ol a {
    font-size: 0.9rem;
}

sub, sup {
    position: relative;
    font-size: 0.8rem;
}

sup {
    vertical-align: top;
    top: -0.3rem;
}

sub {
    vertical-align: bottom;
    bottom: -0.3rem;
}

sup a, sub a {
    font-size: 0.7rem;
}

del {
    text-decoration: line-through;
}
@media (prefers-color-scheme: dark) {
    .invert {
        filter: invert(1);
    }
}

figure {
    display: block;
    max-width: 100%;
    padding: 0rem;
    margin: 1rem auto;
}

figcaption {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    text-align: center;
    padding: 0rem;
    margin: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem auto;
}

table {
    display: table;
    color: var(--gray4);
    background-color: var(--gray1);
    max-width: 100%;
    padding: 0rem;
    margin: 0rem auto;
    border: none;
    border-collapse: collapse;
}

th, tr, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem;
    margin: 0rem;
    border: 1px solid var(--bg);
}

th {
    color: var(--fg);
    background-color: var(--dark);
    font-weight: bold;
}
