ul {
    padding: 0rem;
    margin: 0rem;
    list-style-type: none;
}

li {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0rem;
    margin: 1.5rem 0rem;
}

li time {
    display: block;
    color: var(--gray4);
    font-size: 0.8rem;
    font-weight: normal;
    padding: 0rem;
    margin: 0rem;
}
