<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Summary }}">
    <meta name="author" content="{{ .Site.Author.name }}">
    <title>{{ .Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" href="/icons/logo.16px.png">
    <link rel="stylesheet" href="/css/{{ .Kind }}.{{ .Type }}.css">
    {{ if .Params.math }}
    {{ partial "math.html" . }}
    {{ end }}
</head>
