<section class="nav">

<div class="taxonomy">
This article is about
{{- range (.GetTerms "categories") }}
<a href="{{ .RelPermalink }}">{{ .Title -}}</a>
{{- end -}} <br>
Browse all <a href="/categories">categories</a>
</div>

<div class="related">
<h3>Other Posts</h3>
    <div class="related-article-container">
        {{ $related := ( where ( .Site.RegularPages.Related . ) "Section" .Section ) | first 3 }}
        {{ with $related }}
        {{- range . -}}
        <div class="related-article">
            <time>{{ .Date.Format "2006-01-02" }}</time>
            <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            <p>{{ .Summary }}</p>
        </div>
        {{- end -}}
        {{- end }}
    </div>
</div>

<div class="pagination">
{{ with .NextInSection }}
    <div>
    <a href="{{ .RelPermalink }}">&LongLeftArrow;&nbsp;{{ .Title }}</a>
    </div>
{{ end }}
    <div style="max-width: 5rem; min-width: 2rem;"></div>
{{ with .PrevInSection }}
    <div style="text-align: right;">
    <a href="{{ .RelPermalink }}">{{ .Title }}&nbsp;&LongRightArrow;</a>
    </div>
{{ end }}
</div>

</section>
