{{ partial "head" . -}}
<body>
{{ partial "header" . -}}
<main>

<svg viewBox="0 0 16 16" style="display: block; width: 12rem; margin: 2rem auto 2rem;">
<circle id="backdrop" cx="8" cy="8" r="8" fill="var(--fg)"/>
<rect id="exclamationlong" x="7" y="3" width="2" height="7" fill="var(--bg)"/>
<rect id="exclamationdot" x="7" y="11" width="2" height="2" fill="var(--bg)"/>
</svg>

<p style="text-align: center;">You're lost. Go <a href="/">home</a>.</p>

</main>
{{ partial "footer" . }}
{{ partial "foot" . -}}
